.article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 17.6px;
    line-height: 1.75;
    font-weight: 300;
}

.article strong {
    font-weight: 500;
}

.article h2 {
    font-size: 1.75rem;
}

.article h3 {
    font-size: 1.5rem;
}

.article h4 {
    font-size: 1.25rem;
}

.article ul {
    list-style: disc !important;
    padding-left: 1.5rem;
}
